$packers-color: #203731;
$sf49ers-color: #aa0000;
$bears-color: #e64100;
$bengals-color: #fb4f14;
$bills-color: #00338d;
$broncos-color: #fb4f14;
$browns-color: #ff3c00;
$buccaneers-color: #a71930;
$cardinals-color: #97233f;
$chargers-color: #0080c6;
$chiefs-color: #e31837;
$colts-color: #002c5f;
$commanders-color: #5a1414;
$cowboys-color: #002244;
$dolphins-color: #008e97;
$eagles-color: #004c54;
$falcons-color: #a71930;
$giants-color: #013369;
$jaguars-color: #006778;
$jets-color: #115740;
$lions-color: #0076b6;
$panthers-color: #0085ca;
$patriots-color: #002244;
$raiders-color: #c8c7c7;
$rams-color: #003594;
$ravens-color: #27328c;
$saints-color: #d3bc8d;
$seahawks-color: #002244;
$steelers-color: #ffb612;
$texans-color: #03202f;
$titans-color: #4b92db;
$vikings-color: #4f2683;

