$nfl-color: #013369;
$packers-color: #203731;

/*.top_banner {
    width: 100vw;
    height: 25vh;/*150px;*/
    /*background-color: $nfl-color;*/
    /*display: flex;
    align-items: center;
    justify-content: center;
}
*/